*{
     padding: 0;
     margin: 0;
     font-family: sans-serif;
}

body {
     background-color: #EEEEEE;
}

/* header */

#header{
     padding: 20px 30px 0px 30px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     position: sticky;
     top: 0;
     left: 0;
     background-color: #EEEEEE;
}


#header-img{
     max-width: 350px;
     max-height: 250px;
     margin-right: 20%;
}

@media (max-width: 562px) {
     #header-img{
          width: 250px;
          height: 50px;
     }
}

#nav-bar{align-self: center;}

.nav-link{
     text-decoration: none;
     color: #000;
     cursor: pointer;
     font-size: 17px;
     padding: 5px 50px;
     
}

/* body */

#contact{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     height: 200px;
}

#form {
     width: 50%;
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.title-form{text-align: center;}

#email{
     width: 300px;
     max-width: 320px;
     height: 10px;
     padding: 10px;
     font-size: 15px;
     margin: 13px 0px;
}

#submit{
     background-color: #F1C40F;
     padding: 6px 15px;
     font-size: 18px;
     font-weight: 900;
     border: none;
     border-radius: 2px;
     cursor: pointer;
}

#submit:hover{ 
     background-color: #FFA500;
}


.container{
     max-width: 1000px;
     width: 100%;
     margin: 0 auto;
}


#features {
    margin-top: 30px;
}

.materials, #shipping, #quality-assurance{
     display: flex;
}

.icon {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 125px;
     width: 20vw;
}

.icon .fa-solid {
     color: #FF8C00;
     font-size: 50px;
}
.text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 80vw;
     height: 125px;
     padding: 5px;
}

.text h2{font-size: 25px;}
.text p{font-size: 18px;}

#ressources{
     display: flex;
     justify-content: center;
     margin-top: 40px;
}

#ressources #video{
     max-width: 560px;
     width: 100%;
}

#trade{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 40px;
     
}

#trade > article {
     width: 300px;
     border: 1px solid #000;
     text-align: center;
     margin: 10px 10px;
}

.name {
     background-color: #DDDDDD;
     font-size: 20px;
     font-weight: bold;
     padding: 20px;
     text-transform: uppercase;
}

.price {
     font-size: 30px;
     padding: 20px 0;
     font-weight: 700;
}

ul > li {
     list-style-type: none;
     margin: 10px 0;
     font-size: 20px;
}

article button {
     background-color: #F1C40F;
     padding: 15px 22px;
     font-size: 18px;
     border: none;
     border-radius: 2px;
     cursor: pointer;
     margin: 20px 0;
     text-transform: uppercase;
}

#footer {
     max-width: 1000px;
     width: 100%;
     margin: 0 auto;
     box-sizing: border-box;
     padding: 20px 20px;
     background-color: #DDDDDD;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}

.links a {
     color: #000;
     text-decoration: none;
     padding: 0 20px;
     font-size: 20px;
}

#footer > p {
     font-size: 18px;
     color: #444444;
     font-weight: 400;
     margin: 10px 0px 0px;
}